body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  align-items: center;
  background: linear-gradient(353deg, #e500f2, #00dcf3, #b400c6);
  background-size: 800% 800%;
  -webkit-animation: trash-gradient 2s ease infinite;
  -moz-animation: trash-gradient 2s ease infinite;
  animation: trash-gradient 2s ease infinite;
  font-family: 'Crimson Text', serif;
  padding: 1em;
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
}

.center-all {
  max-width: 65vh;
  /* background-color: blue; */
  max-width: 560px;
  margin: auto;
  /* margin-top: 65vw; */
}

/* center-all {
    max-width: 560px;
    margin: auto;
    /* margin-top: 65vw; */

.center-main {
  /* background-color: red; */
  margin-top: 13em;
}

@-webkit-keyframes trash-gradient {
    0%{background-position:0% 0%}
    50%{background-position:100% 0%}
    100%{background-position:0% 0%}
}
@-moz-keyframes trash-gradient {
    0%{background-position:0% 0%}
    50%{background-position:100% 0%}
    100%{background-position:0% 0%}
}
@keyframes trash-gradient {
    0%{background-position:0% 0%}
    50%{background-position:100% 0%}
    100%{background-position:0% 0%}
}
